//display none in mobile
//display block in desktop

.button--primary {
  color: $bg-white;
  border-radius: 0;
  background-color: $ciel;
}
.button--secondary {
  color: $bg-white;
  border-radius: 0;
  background-color: $salmon;
}