
//Font Family
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

// Tipography
// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold-typo: 800;
$black-typo: 900;

// Font Sizes
$xxx-large: 2.5em; //40px
$xx-large: 1.875em; //30px
$x-large: 1.125em; //18px
$n-medium: 1em; //16px
$x-small: 0.875em; //14px
$xx-small: 0.75em; //12px
