$bg-white: #ffffff;
$isabeline: #ECECEC;
$lightgray: #d1d1d1;
$smokyblack: #0c0910;
$blackish: #001514;
$granitegray: #646266;
$quicksilver: #a6a5a8;
$salmon: #ef6461;
$ciel: #92dce5;




$breakpoints: (
  'sm': (min-width: 576px),
  'md': (min-width: 768px),
  'lg': (min-width: 992px),
  'xl': (min-width: 1200px),
  'xxl': (min-width: 1400px)
);