.navbar {
  height: 10vh;
  &__logo {
    position: relative;
  }
  &__logo--big {
    font-family: $poppins;
    font-size: $xxx-large;
    font-weight: $regular;
    margin: 0;
  }
  &__logo--small {
    font-size: $xxx-small;
    font-weight: $regular;
    position: absolute;
  }
  &__menu {
    display: flex;
  }
  &__item {
    display: none;
  }
  &__item--fixed {
    display: block;
    font-size: $xi-large;
  }
}

@include respond-to("md") {
  .navbar {
    &__item, &__item--fixed {
      display: flex;
      color: $blackish;
      font-size: $nn-medium;
      margin: 0 0.5em;
    }

  }
}