.navbar {
  height: 10vh;
  &__logo {
    position: relative;
  }
  &__logo--big {
    font-family: $poppins;
    font-size: $xxx-large;
    font-weight: $regular;
    margin: 0;
  }
  &__logo--small {
    font-size: $xxx-small;
    font-weight: $regular;
    position: absolute;
  }
  &__menu {
  }
  &__item {
    display: none;
  }
  &__item--fixed {
    display: block;
  }
}
