.profile {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    display: inline-block;
    position: relative;
    width: 3.8em;
    height: 3.8em;
    overflow: hidden;
    border-radius: 50%;
  }
  &__image--rounded {
    width: auto;
    height: 100%;
  }
  &__text {
    flex-direction: column;
    margin: 1em;
  }
  &__title {
    font-family: $montserrat;
    font-weight: $almost-bold;
    font-size: $x-large;
    margin: 0;
  }
  &__description {
    color: $quicksilver;
    font-size: $x-small;
    margin: -0.25em 0 0 0;
  }
}
@include respond-to("md") {
  .profile {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 2em;

    &__name {
      display: flex;
    }
  }
}
